<tr>
    <td style="width: 100%">
        <div class="file-item">
            <div class="checkbox"></div>
            <div class="file-icon {file_type}">
                {icon}
            </div>
            <div>
                {entry_name}
                <div class="file-meta">
                    Uploaded {modified_time}
                    {download_link}
                </div>
            </div>
        </div>
    </td>
    <td class="file-size">{size}</td>
    <td class="actions-menu">
        {action_buttons}
    </td>
</tr> 